<p>
	<img src="https://drive.google.com/uc?export=download&id=1_w-hjBNRDTJPuuAE0-E1A-3MxTdA2XIX" alt="https://drive.google.com/uc?export=download&id=1_w-hjBNRDTJPuuAE0-E1A-3MxTdA2XIX" style="width:590px;height:3821px;">
</p>
<h2>Product description</h2>
<hr>

<p>If you are a WordPress admin and you are looking for a native Android app for your news site then probably this is the best solution for you.</p>

<p>Also if you are planning to start your own news or blog site and you don’t have any mobile and web development knowledge, this is the solution you need. This is not mandatory to have an existing WordPress site. We will guide you to build your dashboard.</p>

<p>This app allows your create native android application for news or blog site. WordPress will be used as base backend. App includes all the features what a complete news or blog app should have. A very useful and compact 
homepage has been designed with all dynamic data. Basic functionality i.e: post list, post search, menu and submenu list, category and subcategory list, favorite list etc has been included into the application.</p>

<p>We have included push notification too. Admin can push simple message and post id to show specific posts. AdMob has been included with the project so that anybody can include Ad in any activity. </p>

<br>

<p>
	<h2>Here is the detailed feature list:</h2>
	<hr>
	<ul>
	<li>Complete native android app based on WordPress news or blog site</li>
	<li>Dynamic homepage and infinite number of subcategories</li>
	<li>Top level menus, featured, recent items, top level categories in homepage</li>
	<li>On scroll post load</li>
	<li>Enriched post searching capability</li>
	<li>Rich HTML post description</li>
	<li>Text to speech facility</li>
	<li>Favorite List to bookmark posts</li>
	<li>Comment and reply facility</li>
	<li>Social Media Links
		<ul>
			<li>YouTube</li>
			<li>Facebook</li>
			<li>Twitter</li>
			<li>Google Plus</li>
		</ul>
	</li>
	<li>Different support channel
		<ul>
			<li>Call support</li>
			<li>Message support</li>
			<li>Email support</li>
			<li>Support through facebook messenger.</li>
		</ul>
	</li>
	<li>Easy navigation simpler UX</li>
	<li>Complete material design</li>
	<li>Multi color theme template</li>
	<li>Firebase analytics to analyze users behavior</li>
	<li>Complete Admob integration (banner and full-screen ad)</li>
	<li>A settings page to customize app settings
		<ul>
			<li>Notification ON/OFF</li>
			<li>Text size</li>
		</ul>
	</li>
	<li>Native push notification, in app notification panel and history
		<ul>
			<li>Push message and headline.</li>
			<li>Push with post id.</li>
			<li>Keep push notification history and show number of unread push notification.</li>
		</ul>
	</li>
	<li>Home page features
		<ul>
			<li>Notification counter with navigation flows.</li>
			<li>Top level menu items</li>
			<li>Animated slider with featured (known as ‘sticky’) posts with navigation flows.</li>
			<li>Recent items (at most 20)</li>
			<li>Top level category items</li>
		</ul>
	</li>
	<li>Post Details
		<ul>
			<li>Scrollable Post image</li>
			<li>Post sharing facility via social media.</li>
			<li>Text to speech to read out a post</li>
			<li>Author name and date of post</li>
			<li>Add to bookmark list option</li>
			<li>Comments and replies with validation</li>
		</ul>
	</li>
	<li>WordPress features
		<ul>
			<li>Menus</li>
			<li>SubMenus</li>
			<li>Categories</li>
			<li>Subcategories</li>
			<li>Posts by Category</li>
			<li>Featured Posts</li>
			<li>Recent Posts</li>
			<li>Infinite hierarchy level of category and menu</li>
			<li>Add to bookmark list</li>
			<li>Efficient post searching capability</li>
			<li>Commenting facility</li>
		</ul>
	</li>
</p>

<br><br>

<p>
	<h2>So make an awesome app with your existing WordPress site now! For demo just download: </h2>
	<hr>
	<table>
		<tr>
			<td>
				<a href="https://play.google.com/store/apps/details?id=com.mcc.wpnews" target="_blank">
					<img src="http://mprod.mcc.com.bd/webapp/file/google_play_button.png" alt="https://play.google.com/store/apps/details?id=com.mstudio.webapp" style="width:250px;height:75px;">
				</a>
			</td>
			
		</tr>
	</table>	
</p>

<br><br>

<h2>Blog and News App for WordPress - App Demo Video</h2>

<a href="https://youtu.be/aTk7XhKKzLI" target="_blank">
	<img src="https://drive.google.com/uc?export=download&id=1sls8SoT3xzCSRJKZ7eo9L0RHwZn7rgiR" alt="https://youtu.be/aTk7XhKKzLI" style="width:615px;height:346px;">
</a>


<h2>Technical Documentation</h2>
<hr>
<p>
<ul>
  <li><a href="https://docs.google.com/document/d/1GwstHmcdHSmoEWT9kVRaBPCxWsTy0ZX_Btk-UjrmWpU/edit?usp=sharing" target="_blank">Document</a></li>
</ul>
</p>

<h2>Test Push Notification</h2>
<hr>
<p>
<a href="http://products.mcc.com.bd/projects/news-app/push_dashboard/" target="_blank">Push Notification Console</a>
</p>


